body {
  background: #eee;
  font-family: "Arial", sans-serif;
}

.the-body {
  width: 400px;
  background: #e06969;
  margin: 100px auto;
  padding: 8px;
  border-radius: 25px;
  border: 5px solid #d83535;
  box-shadow: 0 20px 20px rgb(0 0 0 / 0.2);
}

#title {
  font-size: 36px;
  color: #eee;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  letter-spacing: 6px;
}

.food-list {
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-left: 70px;
}

.food-link {
  font-weight: bold;
  color: #1375c5;
}

.site-desc {
  text-align: center;
  padding: 8px;
  color: rgb(0, 0, 0);
  font-size: 16px;
}
